<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mrm_001">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import mrm_001 urdf file -->
    <xacro:include filename="$(find mrm_sim)/description/xacro/mrm_001.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="mrm_001.ros2_control.xacro" />


    <xacro:mrm_001_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
